/*
*
*
#CSS Map
01. Import Variables
02. Import Mixins
03. Import Fonts
04. Default
05. Styleing
06. Form
*
*
*/

/* 01. Import Variables */

/* 02. Import Mixins */

/* 03. Import Fonts */

@import url("https://use.typekit.net/ppy7hcy.css");

/* 04. Default */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "sofia-pro";
  scroll-behavior: smooth;
}
.row {
  width: 100%;
}
body,
html {
  height: 100vh;
}
body {
  background-color: #F2FAFF;
}
.mrg-5 {
  margin-top: 160px;
  margin-bottom: 160px;
}
a,
button:active,
button:focus,
input:active,
input:focus {
  outline: 0 !important;
}
a:hover {
  text-decoration: none;
}
.mrl-15 {
  margin-left: 15px;
}
/* 05. Styleing */

.container-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.container-box .pagetitle {
  font-weight: 500;
  font-size: 2.8rem;
  color: #000;
}
.container-box label {
  color: #6f6f6e;
  font-size: 1.25rem;
}
.container-box .targetlink a {
  color: #007bff;
}
.container-box .social a {
  color: #6f6f6e;
  font-size: 1rem;
}
.container-box .social i {
  background-color: #6f6f6e;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  font-size: 0.75rem;
  line-height: 30px;
  text-align: center;
  margin-right: 0.3125rem;
}
/* 06 Form */

.form {
  margin-top: 3.125rem;
}
.form .inp {
  border: 0;
  border-bottom: 1px solid #ccc;
  color: #000;
  height: 3.125rem;
  margin-bottom: 3.125rem;
  font-size: 1.25rem;
  font-weight: 400;
}
.form .forget {
  color: #007bff;
  font-size: 1.25rem;
}
.form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}
.form .social-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6.25rem;
  margin-left: -1.25rem;
}
.form .social {
  margin-bottom: 0.625rem;
}
.form .form-btn {
  border: 0;
  font-size: 1.125rem;
  height: 3.125rem;
  width: 100%;
  border-radius: 50px;
  color: #fff;
  background: linear-gradient(81.83deg, #2f97f6 29.99%, #2de799 107.93%);
  margin-top: 2.18rem;
  padding-bottom: 0.3125rem;
}
.form .targetlink {
  text-align: center;
  margin-top: 1.25rem;
  font-size: 1.125rem;
}
.logo {
  padding-right: 25%;
}
.top-menu {
  position: absolute;
  width: 100%;
  z-index: 99;
  background-color: transparent;
  transition: 0.5s ease-in-out;
  padding-top: 15px;
  padding-bottom: 15px;
}
.menu-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  float: left;
}
.menu ul li a {
  display: block;
  padding: 12px 20px;
  color: white;
}
.menu ul li a:hover {
  text-decoration: none;
}
.main-content {
  overflow: hidden;
}
.responsive {
  width: 100%;
  height: auto;
}
.responsive-1 {
  width: 85%;
  height: auto;
}
.blue {
  background-image: url(../image/blue-1.png);
  background-position: right top;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 80px;
  background-size: 55% auto;
}
.menu-2 {
  background-color: #fff;
  box-shadow: 0px 0px 5px 3px #f1f1f1;
  position: fixed;
}
.linkcolor {
  color: #2f97f6 !important;
}
.burgercolor {
  color: #2f97f6 !important;
}
.right-box span {
  width: 50px;
  height: 50px;
  background: linear-gradient(115.83deg, #2f97f6 20.99%, #2de799 107.93%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.right-box h1 {
  font-weight: 500;
  font-family: "sofia-pro";
  margin-top: 44px;
  margin-bottom: 26px;
}
.right-box p {
  font-size: 0.93rem;
  line-height: 1.8;
  font-family: "sofia-pro";
  color: #858585;
  font-weight: 300;
  margin-bottom: 44px;
}
.right-box .btn-1 {
  background: linear-gradient(81.83deg, #2f97f6 29.99%, #2de799 107.93%);
  border: none;
  color: #fff;
  padding: 13px 30px;
  border-radius: 50px;
  font-size: 12px;
  font-family: "sofia-pro";
  letter-spacing: 1px;
}
.right-box .btn-2 {
  background: linear-gradient(81.83deg, #2f97f6 29.99%, #2de799 107.93%);
  border: none;
  color: #fff;
  padding: 13px 30px;
  border-radius: 50px;
  font-size: 12px;
  font-family: "sofia-pro";
  letter-spacing: 1px;
  margin-left: 15px;
}
.green {
  background-image: url(../image/green-1.png);
  background-position: left top;
  background-repeat: no-repeat;
  width: 100%;
}
.left-box h1 {
  font-weight: 500;
  font-family: "sofia-pro";
  margin-top: 20px;
  margin-bottom: 24px;
}
.left-box p {
  font-size: 0.93rem;
  line-height: 1.8;
  font-family: "sofia-pro";
  color: #858585;
  margin-bottom: 44px;
}
.left-box .btn-3 {
  background: linear-gradient(81.83deg, #2f97f6 29.99%, #2de799 107.93%);
  border: none;
  color: #fff;
  padding: 13px 30px;
  border-radius: 50px;
  font-size: 12px;
  font-family: "sofia-pro";
  letter-spacing: 1px;
}
.blue-1 {
  background-image: url(../image/blue-2.png);
  background-position: right top;
  background-repeat: no-repeat;
  width: 100%;
}
.left-box-1 h6,
.left-box-1 .gettext {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 170%;
  text-transform: capitalize;
  color: #000000;
}
.left-box-1 h1 {
  font-weight: 500;
  font-family: "sofia-pro";
  margin-bottom: 21px;
}
.left-box-1 p {
  font-size: 0.93rem;
  line-height: 1.8;
  font-family: "sofia-pro";
}
.left-box-1 .btn-4 {
  background: linear-gradient(81.83deg, #2f97f6 29.99%, #2de799 107.93%);
  border: none;
  color: #fff;
  padding: 13px 30px;
  border-radius: 50px;
  font-size: 12px;
  font-family: "sofia-pro";
  letter-spacing: 1px;
}
.left-box-1 .from {
  color: #858585;
  margin-bottom: 44px;
}
.box-content {
  padding-top: 85px;
}
.boxes {
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0px 5px 14px rgba(38, 149, 249, 0.14);
  border-radius: 10px;
  padding: 10px 20px;
  height: 100%;
}
.boxes h5 {
  font-size: 1rem !important;
  font-weight: 500;
}
.boxes p {
  font-size: 0.9rem;
  color: #a0a0a0;
  line-height: 170%;
}
.boxes img {
  margin-top: 33px;
  width: 55px;
  height: 55px;
  margin-bottom: 41px;
}
.green-2 {
  background-image: url(../image/green-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.green-2 .img-1 {
  position: absolute;
  top: 20%;
  left: 29%;
}
.green-2 .img-2 {
  position: absolute;
  top: 50%;
  left: 85px;
}
.features {
  margin-top: 164px;
}
.feature-box h1 {
  margin-bottom: 44px;
  font-weight: 500;
  font-family: "sofia-pro";
  color: #000;
}
.feat-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}
.feat-box h6 {
  font-weight: 500;
  font-family: "sofia-pro";
}
.feat-box img {
  margin-right: 65px;
  background-color: #fff;
  padding: 12px;
  border-radius: 12px;
}
.feat-box div {
  margin-bottom: 20px;
}
.feat-box p {
  color: #858585;
  line-height: 1.7;
}
.left-box-2 h1 {
  font-weight: 500;
  font-family: "sofia-pro";
  margin-top: 20px;
  margin-bottom: 23px;
}
.left-box-2 p {
  font-size: 0.93rem;
  line-height: 1.8;
  font-family: "sofia-pro";
  color: #858585;
  margin-bottom: 44px;
}
.left-box-2 .btn-5 {
  background: linear-gradient(81.83deg, #2f97f6 29.99%, #2de799 107.93%);
  border: none;
  color: #fff;
  padding: 13px 30px;
  border-radius: 50px;
  font-size: 12px;
  font-family: "sofia-pro";
  letter-spacing: 1px;
}
.blue-3 {
  background-image: url(../image/blue-3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.help {
  margin-top: 131px;
  margin-bottom: 82px;
}
.help h1 {
  font-weight: 500;
  font-family: "sofia-pro";
  color: #000;
  margin-bottom: 12px;
}
.help p {
  font-family: "sofia-pro";
  color: #858585;
  line-height: 1.7;
}
.help-box {
  margin-bottom: 20px;
}
.help-box h5 {
  font-weight: 500;
  font-family: "sofia-pro";
  color: #000;
  margin-top: 23px;
  margin-bottom: 25px;
}
.help-box p {
  color: #858585;
  font-size: 0.93rem;
  line-height: 1.7;
  font-family: "sofia-pro";
}
.faq {
  margin-top: 173px;
  margin-bottom: 70px;
}
.faq h1 {
  color: #000;
  font-weight: 500;
  font-family: "sofia-pro";
  margin-bottom: 10px;
}
.faq p {
  color: #858585;
  font-family: "sofia-pro";
}
.accordion {
  background-color: #fff;
  box-shadow: 0px 5px 14px rgba(38, 149, 249, 0.14);
  color: #444;
  cursor: pointer;
  padding: 18px 10px;
  margin-bottom: 13px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 14px;
  transition: 0.4s;
  border-radius: 12px;
}
.active,
.accordion:hover {
  background-color: #fff;
}
.panel {
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.subscribe {
  margin-top: 215px;
  margin-bottom: 100px;
}
.subscribe h1 {
  color: #000;
  font-weight: 500;
  font-family: "sofia-pro";
  margin-bottom: 11px;
}
.subscribe p {
  color: #858585;
  font-family: "sofia-pro";
  margin-bottom: 70px;
}
.subscribe .btn-6 {
  background: linear-gradient(81.83deg, #2f97f6 29.99%, #2de799 107.93%);
  border: none;
  color: #fff;
  padding: 13px 45px;
  border-radius: 50px;
  font-size: 12px;
  font-family: "sofia-pro";
  letter-spacing: 1px;
  width: 20%;
}
.footer {
  background-color: #2695f9;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 160px;
}
.footer p {
  color: #fff;
  font-family: "sofia-pro";
}
.footer .copy {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}
.footer .foot-box img {
  margin-bottom: 20px;
}
.footer .foot-box p {
  margin-bottom: 110px;
}
.footer .foot-box-2 {
  display: flex;
  justify-content: flex-end;
}
.footer .foot-box-2 ul {
  list-style: none;
}
.footer .foot-box-2 ul li {
  margin-bottom: 23px;
}
.footer .foot-box-2 ul li a {
  display: block;
  color: #fff;
  font-family: "sofia-pro";
  font-size: 15px;
}
.footer .foot-box-2 .footer-links {
  text-align: left;
}
.footer .social_box {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .social_box a {
  color: #fff;
  padding-left: 3px;
  padding-right: 3px;
}
.foot {
  padding-top: 50px;
  padding-bottom: 10px;
  border-bottom: 2px solid #84bdf7;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #2f97f6;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  text-align: center;
  transition: 0.3s;
  margin-bottom: 35px;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
position: absolute;
    top: 0;
    right: 18%;
    font-size: 50px;
    margin-left: 0;
    margin: 0;
    padding: 0;
}
.burger-menu {
  display: none;
}