$fontfamily: "sofia-pro";
$fontweight: 500;
$normalweight: 300;
$colorgrey: #6f6f6e;
$sociconcolor: #fff;
$linkcolor: #007bff;
$titlecolor: #000;
$textcolor: #858585;
$borderradius: 50px;
$menubgcolor: #fff;
$sociconwidth_height_lineheight: 30px;
$border_bottom: 1px solid #ccc;
$boxshadow: 0px 5px 14px rgba(38, 149, 249, 0.14);
$btngradient: linear-gradient(81.83deg, #2f97f6 29.99%, #2de799 107.93%);
